* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 0;
}

/*barra de navegacion de los 5 html*/
.barra-navegacion {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
  list-style-type: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: rgb(234, 227, 227);
  padding: 20px;
  text-shadow: 0.0625rem, 0.0625rem, 0.125rem, rgba(0, 0, 0, 0.5); /*preguntar bien como funcionaba*/
}

.navbar {
  padding: 0;
  margin: 0%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(208, 19, 255), black); /* Fondo degradado */
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.footer {
  color: aliceblue;
  text-align: center;
  margin-top: 10%;
}

.menu-hamburgesa {
  display: flex;
}

h1 {
  text-align: center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambia a 3 columnas, repasar teoria de nuevo  */
  gap: 20px;
  padding: 20px;
}

.image {
  position: relative;
  text-align: center; /* Centra el texto dentro del contenedor, preguntar*/
}

.image h2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.nombre-anime {
  color: aliceblue;
  padding: 0.9375rem;
}

.titulo-noticiash1 {
  text-align: center;
  color: antiquewhite;
}

.estilo-general {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.titulo-noticia1 {
  margin-top: 0;
  text-align: left;
  color: aliceblue;
}

.titulo-noticia2 {
  margin-top: 0;
  text-align: right;
  color: aliceblue;
}

.imagen-izquierda {
  float: left;
  margin-right: 20px;
}

.imagen-derecha {
  float: right; /*lleva la foto a la derecha*/
  margin-left: 20px;
}

.parrafo-izquierda {
  text-align: center;
  margin: 0%;
  color: aliceblue;
}

.parrafo-derecha {
  text-align: center;
  margin: 0;
  color: aliceblue;
}

.main-nosotros {
  max-width: 100%;
  padding: 20px;
}

.h1-nosotros {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.imagen-h1 {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.columna-nosotros {
  color: aliceblue;
}

.texto-nsotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.texto-nsotros .texto-columna {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.texto-nsotros p {
  margin-bottom: 10px;
  font-size: 18px;
}

.imagen-final-nosotros {
  text-align: center;
  margin-top: 20px;
}

.imagen-final-nosotros img {
  width: 100%;
  height: auto;
}

.texto-nsotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.texto-nsotros .texto-columna {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.texto-nsotros .texto-columna p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.main-tienda {
  max-width: 100%;
  padding: 0;
  border-radius: 10px;
}

.h1-tienda {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #f7efef;
}

.categoria {
  margin-bottom: 40px;
}

.h2-tienda {
  margin-bottom: 20px;
  font-size: 20px;
  color: #f7f3f3;
}

.productos-tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.productos-tiendas {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.productos-tiendas img {
  width: 100%;
  border-radius: 5px;
}

.productos-tiendas p {
  margin-top: 10px;
  text-align: center;
}

.tituloMundo {
  display: flex;
  width: 100%;
  gap: 0.3125rem;
}
.tituloMundo .titulo-mundo {
  font-size: 1.4375rem;
}
.tituloMundo .imagen-animes-varios {
  width: 100%;
}

.recomendados {
  width: 100%;
  margin-top: 20px;
  color: aliceblue;
  padding: 15px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}
.recomendados .recomendados-img {
  text-align: center;
}
.recomendados .recomendados-img img {
  width: 324.66px;
  height: 292.19px;
}

.seguir-viendo {
  width: 100%;
  margin-top: 20px;
  color: aliceblue;
  padding: 15px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}
.seguir-viendo .seguir-viendo-img {
  text-align: center;
}
.seguir-viendo .seguir-viendo-img img {
  width: 324.66px;
  height: 292.19px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    width: 35px;
    height: 35px;
    border: none;
  }
  .navbar-toggler-icon {
    width: 32px;
    height: 30px;
  }
  .titulo-mundo {
    font-size: 1.25rem;
  }
  .recomendados-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .item {
    text-align: center;
  }
  .item img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .barra-navegacion {
    font-size: 12px;
  }
  div, img, p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=estilo.css.map */
