$color-texto: aliceblue;

.tituloMundo{
    display: flex;
    width: 100%;
    gap: .3125rem;
    .titulo-mundo{
        font-size: 1.4375rem;
    }

    .imagen-animes-varios{
        width: 100%;
    }
}


.recomendados  {
    width: 100%;
    margin-top: 20px;
    color: $color-texto;

    .item {
        text-align: center;
    }
    
    .item img {
        width: 324.66px;
        height: 292.19px;
    }

    .recomendados-img {
        width: 100%;
        display: flex;
        justify-content: space-around; /* Aquí debería respetar el espacio alrededor */
        margin-top: 10px;
        color: $color-texto;
        padding: 15px;
        gap: 10px;
    }
}

.seguir-viendo{
    width: 100%;
    margin-top: 20px;
    color: $color-texto;
    

    .item {
        text-align: center;
    }
    
    .item img {
        width: 324.66px;
        height: 292.19px;
    }

    .seguir-viendo-img {
        width: 100%;
        display: flex;
        justify-content: space-around; /* Aquí debería respetar el espacio alrededor */
        margin-top: 10px;
        color: $color-texto;
        padding: 15px;
        gap: 10px;
    }
}

