.titulo-noticiash1 {
    text-align: center;
    color:black
}

.estilo-general {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}



.titulo-noticia1 {
    margin-top: 0;
    text-align: left;
    color: aliceblue;
}

.titulo-noticia2 {
    margin-top: 0;
    text-align: right;
    color: aliceblue;
}

.imagen-izquierda {
    float: left;
    margin-left: 20px; 
}


.imagen-derecha {
    float: right; 
    margin-right: 20px; 

}

.parrafo-izquierda{
    display: flex;
    text-align: center;
    margin: 0%;
    color: aliceblue;

}

.parrafo-derecha {
    display: flex;
    text-align: center; 
    margin: 0;
    color: aliceblue;
    }