.titulo-noticiash1 {
    text-align: center;
    color: antiquewhite;
}

.estilo-general {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}


.titulo-noticia1 {
    margin-top: 0;
    text-align: left;
    color: aliceblue;
}

.titulo-noticia2 {
    margin-top: 0;
    text-align: right;
    color: aliceblue;
}

.imagen-izquierda {
    float: left;
    margin-right: 20px; 
}

.imagen-derecha {
    float: right; /*lleva la foto a la derecha*/
    margin-left: 20px; 

}

.parrafo-izquierda{
    text-align: center;
    margin: 0%;
    color: aliceblue;
}

.parrafo-derecha {
    text-align: center; 
    margin: 0;
    color: aliceblue;
    }