.main-tienda {
    max-width: 100%;
    padding: 0;
    border-radius: 10px; 
}

.h1-tienda {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px; 
    color: #f7efef; 
}

.categoria {
    margin-bottom: 40px;
}

.h2-tienda {
    margin-bottom: 20px;
    font-size: 20px; 
    color: #f7f3f3; 
}

.productos-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr); ; 
    gap: 20px; 
}

.productos-tiendas {
    
    background-color: #fff; 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 

    .carrito{
        display: flex;
        justify-content: flex-end;
        margin-left: 90%;
        width: 30px;
        height: 30px;
        background-color: black;
    }
}

.productos-tiendas img {
    width: 100%; 
    border-radius: 5px; 
}

.productos-tiendas p {
    margin-top: 10px; 
    text-align: center; 
}
