

h1 {
    text-align: center;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cambia a 3 columnas, repasar teoria de nuevo  */
    gap: 20px;
    padding: 20px;
}

.image {
    position: relative;
    text-align: center; /* Centra el texto dentro del contenedor, preguntar*/
}

.image h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.nombre-anime {
    color: aliceblue;
    padding: .9375rem;
}