@import "generales.scss";

@import "top10.scss";

@import "noticias.scss";

@import "nosotros.scss";

@import "tienda.scss";

@import "index.scss";

@media (max-width:768px) {
    .navbar-toggler {
        width: 35px;
        height: 35px;
        border: none;
    }

    .navbar-toggler-icon {
        width: 32px;
        height: 30px;
    }

    .barra-navegacion {
        font-size: 12px;
    }

    div,
    img,
    p {
        font-size: 15px;
    }

    footer .footer{
        font-size: 16px;
    }

    /*home*/
    .tituloMundo .titulo-mundo {
        font-size: 1.25rem;
    }

    .imagen-animes-varios {
        width: 100%;
    }

    .recomendados {
        width: 100%;
    }

    .recomendados-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .item {
        text-align: center;
    }

    .recomendados .item img {
        width: 239px;
        height: 233px;
        padding: 10px;
    }

    .seguir-viendo-img .item img{
        width: 239px;
        height: 233px;
        padding: 10px;
    }

    /*noticias*/
    .titulo-noticiash1{
        font-size: 25px;
    }

    .estilo-general {
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;    
        }

        .titulo-noticia1 {
            margin-top: 5px;
            text-align: center;
            color: aliceblue;
        }
        
        .titulo-noticia2 {
            margin-top: 5px;
            text-align: center;
            color: aliceblue;
        }
        
        .imagen-izquierda {
            justify-content: center;
            margin: 0.5px;
            float: none;
        }
        
        
        .imagen-derecha {
            justify-content: center;
            margin: 0.5px;
            float: none;
        }
        
        .parrafo-izquierda{
            text-align: center;
            margin: 0%;
            color: aliceblue;
            font-size: 18px;
            width: 100%;
        }
        
        .parrafo-derecha {
            text-align: center; 
            margin: 0;
            color: aliceblue;
            align-content: center;
            width: 100%;
            font-size: 18px;
        }


}

@media (max-width: 426px) {

    /*home*/
    .tituloMundo .titulo-mundo {
        font-size: 10px;
    }

    .recomendados-img,
    .seguir-viendo-img,
    .item {
        width: 90%;
        flex-direction: column;
    }

    /*top10*/
    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        padding: 20px;
    }

    /*tienda*/
    .productos-tiendas .carrito {
        margin-left: 70%;
        width: 25px;
        height: 25px;
        }

    /*noticias*/
    .titulo-noticiash1{
        font-size: 18px;
    }

    .estilo-general {
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;    
        }

        .titulo-noticia1 {
            margin-top: 0;
            text-align: center;
            color: aliceblue;
        }
        
        .titulo-noticia2 {
            margin-top: 0;
            text-align: center;
            color: aliceblue;
        }
        
        .imagen-izquierda {
            justify-content: center;
            width: 350px;
            height: 300px;
            margin: 0.5px;
            float: none;
        }
        
        
        .imagen-derecha {
            justify-content: center;
            margin: 0.5px;
            width: 350px;
            height: 300px;
            float: none;
        }
        
        .parrafo-izquierda{
            text-align: center;
            margin: 0%;
            color: aliceblue;
            font-size: 12px;
            width: 100%;
        }
        
        .parrafo-derecha {
            text-align: center; 
            margin: 0;
            color: aliceblue;
            align-content: center;
            width: 100%;
            font-size: 12px;
        }
}

@media (max-width: 375px){
    .tituloMundo .titulo-mundo {
        font-size: 7px;
        text-align: justify;
    }


}