@import "generales.scss";

@import "top10.scss";

@import "noticias.scss";

@import "nosotros.scss";

@import "tienda.scss";

@media (max-width:768px ) { 
    .navbar-toggler{
        width: 35px;
        height: 35px;
        border: none;
    }

    .navbar-toggler-icon{
        width: 32px;
        height: 30px;
    }

    .titulo-mundo{
        font-size: 1.25rem;
    }

    .recomendados-img{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .item {
        text-align: center;
    }
    
    .item img {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .barra-navegacion{
        font-size: 12px;
    }

    div, img, p{
        font-size: 10px;
    }
}

