@import "generales.scss";

@import "top10.scss";

@import "noticias.scss";

@import "nosotros.scss";

@import "tienda.scss";

@import "index.scss";

@media (max-width:768px) {
    .navbar-toggler {
        width: 35px;
        height: 35px;
        border: none;
    }

    .navbar-toggler-icon {
        width: 32px;
        height: 30px;
    }

    .tituloMundo .titulo-mundo {
        font-size: 1.25rem;
    }

    .imagen-animes-varios {
        width: 100%;
    }

    .recomendados {
        width: 100%;
    }

    .recomendados-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .item {
        text-align: center;
    }

    .recomendados .item img {
        width: 239px;
        height: 233px;
        padding: 10px;
    }

    .seguir-viendo-img .item img{
        width: 239px;
        height: 233px;
        padding: 10px;
    }


    .barra-navegacion {
        font-size: 12px;
    }

    div,
    img,
    p {
        font-size: 15px;
    }

    footer .footer{
        font-size: 16px;
    }
}

@media (max-width: 426px) {

    /*home*/
    .tituloMundo .titulo-mundo {
        font-size: 10px;
    }

    .recomendados-img,
    .seguir-viendo-img,
    .item {
        width: 90%;
        flex-direction: column;
    }
}

@media (max-width: 375px){
    .tituloMundo .titulo-mundo {
        font-size: 7px;
        text-align: justify;
    }
}